body {
    background-image: url("../image/1a.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-dark-trans {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-orange-img {
    background-image: url("../image/canvas-orange.jpg");
}
.bg-kente {
    background-image: url("../image/kente.jpg");
}
.font-s-title {
    font-size: 400%;
    font-weight: 700;
    text-shadow: 1px 1px 0px #000;
}
.font-s-200 {
    font-size: 200%;
}
.viewport-80 {
    height: 80vh;
}
.h-9 {
    height: 11.5vh;
}
.text-shadow {
    text-shadow: 1px 1px 0px #000;
}
/*
.color-blue {
    background-color: #2b32b2;
}
.text-blue {
    color: #2b32b2;
}
.font-3 {
    font-size: 50em;
} */
